{% extends 'base.html' %}

{% block content %}
<div class="row">
	<ul class="list-group" style="width: 800px">
		<li class="list-group-item" style="background-color: #d4edc9">Благодаря этим людям сайт развивается быстрее!</li>
		<li class="list-group-item">
			Даниил Горюшин
			<a href="https://vk.com/idlostinspot" class="badge badge-info">VK</a>
		</li>
		<li class="list-group-item">
			Дарья Мамонова
			<a href="https://vk.com/ddarrioo" class="badge badge-info">VK</a>
		</li>
		<li class="list-group-item">
			А также замечательные создатели данного сайта :)
			</li>
	</ul>
</div>

{% endblock %}
